In [1]:
import pandas as pd
df500_closing= pd.read_excel(r"中证500股指期货收盘价(主力合约)2022-12-31.xlsx", engine='openpyxl')
df500_indexLevel= pd.read_excel(r"中证500指数2022-12-31.xlsx", engine='openpyxl')

In [2]:
#drop first three row
df500_closing.drop([0,1,2], inplace=True)
df500_indexLevel.drop([0,1,2], inplace=True)
#change column name
df500_closing.columns = ['date', 'closing_price']
df500_indexLevel.columns = ['date', 'index_level']

In [3]:
#combind two dataframes
df500_closing['index_level'] = df500_indexLevel['index_level']

In [4]:
df500_closing['BASIS']=df500_closing['closing_price']-df500_closing['index_level']
df500_closing

            date closing_price index_level   BASIS
3     2022-12-30        5870.8     5864.47    6.33
4     2022-12-29        5869.4      5857.4    12.0
5     2022-12-28        5882.4      5862.1    20.3
6     2022-12-27        5897.6     5885.66   11.94
7     2022-12-26        5860.6     5843.26   17.34
...          ...           ...         ...     ...
1878  2015-04-22        8189.8     8323.43 -133.63
1879  2015-04-21        8140.4     8112.69   27.71
1880  2015-04-20        7622.2      7839.9  -217.7
1881  2015-04-17        7758.2     7980.76 -222.56
1882  2015-04-16        7707.8     7912.09 -204.29

[1880 rows x 4 columns]

In [5]:
df500_closing['date']=pd.to_datetime(df500_closing['date'])
df500_closing.set_index("date", inplace=True)
q_groups=df500_closing.groupby(pd.Grouper(freq='Q'))
q_closing=q_groups.mean()
q_closing

            closing_price  index_level       BASIS
date
2015-06-30    9394.334615  9501.137692 -106.803077
2015-09-30    6928.646875  7239.576406 -310.929531
2015-12-31    7177.065574  7387.440656 -210.375082
2016-03-31    5756.308475  5909.137458 -152.828983
2016-06-30    5887.901639  5988.705082 -100.803443
2016-09-30    6277.112500  6353.476719  -76.364219
2016-12-31    6417.816667  6475.376500  -57.559833
2017-03-31    6322.640678  6370.288983  -47.648305
2017-06-30    6071.086667  6102.786000  -31.699333
2017-09-30    6325.606154  6355.798923  -30.192769
2017-12-31    6392.966667  6421.532167  -28.565500
2018-03-31    6105.200000  6131.207288  -26.007288
2018-06-30    5758.993333  5787.736000  -28.742667
2018-09-30    4934.562500  4957.539531  -22.977031
2018-12-31    4347.530000  4366.578500  -19.048500
2019-03-31    4789.082759  4795.535690   -6.452931
2019-06-30    5141.506667  5189.754333  -48.247667
2019-09-30    4908.560000  4940.791077  -32.231077
2019-12-31    4996.455738  5014.695246  -18.239508
2020-03-31    5404.641379  5440.445862  -35.804483
2020-06-30    5403.830508  5457.840847  -54.010339
2020-09-30    6451.503030  6502.431970  -50.928939
2020-12-31    6307.836667  6333.833833  -25.997167
2021-03-31    6370.675862  6404.584138  -33.908276
2021-06-30    6525.450000  6550.486167  -25.036167
2021-09-30    7030.953125  7072.680625  -41.727500
2021-12-31    7159.400000  7169.247049   -9.847049
2022-03-31    6720.120690  6727.838793   -7.718103
2022-06-30    5968.779661  6003.765254  -34.985593
2022-09-30    6221.904615  6246.232615  -24.328000
2022-12-31    6029.010000  6021.286667    7.723333

In [6]:
#add index week1 week2 week3...
q_closing['q'] = range(1, len(q_closing) + 1)
q_closing

            closing_price  index_level       BASIS   q
date
2015-06-30    9394.334615  9501.137692 -106.803077   1
2015-09-30    6928.646875  7239.576406 -310.929531   2
2015-12-31    7177.065574  7387.440656 -210.375082   3
2016-03-31    5756.308475  5909.137458 -152.828983   4
2016-06-30    5887.901639  5988.705082 -100.803443   5
2016-09-30    6277.112500  6353.476719  -76.364219   6
2016-12-31    6417.816667  6475.376500  -57.559833   7
2017-03-31    6322.640678  6370.288983  -47.648305   8
2017-06-30    6071.086667  6102.786000  -31.699333   9
2017-09-30    6325.606154  6355.798923  -30.192769  10
2017-12-31    6392.966667  6421.532167  -28.565500  11
2018-03-31    6105.200000  6131.207288  -26.007288  12
2018-06-30    5758.993333  5787.736000  -28.742667  13
2018-09-30    4934.562500  4957.539531  -22.977031  14
2018-12-31    4347.530000  4366.578500  -19.048500  15
2019-03-31    4789.082759  4795.535690   -6.452931  16
2019-06-30    5141.506667  5189.754333  -48.247667  17
2019-09-30    4908.560000  4940.791077  -32.231077  18
2019-12-31    4996.455738  5014.695246  -18.239508  19
2020-03-31    5404.641379  5440.445862  -35.804483  20
2020-06-30    5403.830508  5457.840847  -54.010339  21
2020-09-30    6451.503030  6502.431970  -50.928939  22
2020-12-31    6307.836667  6333.833833  -25.997167  23
2021-03-31    6370.675862  6404.584138  -33.908276  24
2021-06-30    6525.450000  6550.486167  -25.036167  25
2021-09-30    7030.953125  7072.680625  -41.727500  26
2021-12-31    7159.400000  7169.247049   -9.847049  27
2022-03-31    6720.120690  6727.838793   -7.718103  28
2022-06-30    5968.779661  6003.765254  -34.985593  29
2022-09-30    6221.904615  6246.232615  -24.328000  30
2022-12-31    6029.010000  6021.286667    7.723333  31

In [7]:
q_closing.set_index("q", inplace=True)
q_closing

    closing_price  index_level       BASIS
q
1     9394.334615  9501.137692 -106.803077
2     6928.646875  7239.576406 -310.929531
3     7177.065574  7387.440656 -210.375082
4     5756.308475  5909.137458 -152.828983
5     5887.901639  5988.705082 -100.803443
6     6277.112500  6353.476719  -76.364219
7     6417.816667  6475.376500  -57.559833
8     6322.640678  6370.288983  -47.648305
9     6071.086667  6102.786000  -31.699333
10    6325.606154  6355.798923  -30.192769
11    6392.966667  6421.532167  -28.565500
12    6105.200000  6131.207288  -26.007288
13    5758.993333  5787.736000  -28.742667
14    4934.562500  4957.539531  -22.977031
15    4347.530000  4366.578500  -19.048500
16    4789.082759  4795.535690   -6.452931
17    5141.506667  5189.754333  -48.247667
18    4908.560000  4940.791077  -32.231077
19    4996.455738  5014.695246  -18.239508
20    5404.641379  5440.445862  -35.804483
21    5403.830508  5457.840847  -54.010339
22    6451.503030  6502.431970  -50.928939
23    6307.836667  6333.833833  -25.997167
24    6370.675862  6404.584138  -33.908276
25    6525.450000  6550.486167  -25.036167
26    7030.953125  7072.680625  -41.727500
27    7159.400000  7169.247049   -9.847049
28    6720.120690  6727.838793   -7.718103
29    5968.779661  6003.765254  -34.985593
30    6221.904615  6246.232615  -24.328000
31    6029.010000  6021.286667    7.723333

In [8]:
del q_closing['closing_price']
del q_closing['index_level']
q_closing

         BASIS
q
1  -106.803077
2  -310.929531
3  -210.375082
4  -152.828983
5  -100.803443
6   -76.364219
7   -57.559833
8   -47.648305
9   -31.699333
10  -30.192769
11  -28.565500
12  -26.007288
13  -28.742667
14  -22.977031
15  -19.048500
16   -6.452931
17  -48.247667
18  -32.231077
19  -18.239508
20  -35.804483
21  -54.010339
22  -50.928939
23  -25.997167
24  -33.908276
25  -25.036167
26  -41.727500
27   -9.847049
28   -7.718103
29  -34.985593
30  -24.328000
31    7.723333

In [10]:
#to csv
q_closing.to_csv(r'500_BASIS_quarterly.csv')