In [1]:
import pandas as pd
df50_closing= pd.read_excel(r"上证50股指期货收盘价(主力合约)2022-12-31.xlsx", engine='openpyxl')
df50_indexLevel= pd.read_excel(r"上证50指数2022-12-31.xlsx", engine='openpyxl')

In [2]:
#drop first three row
df50_closing.drop([0,1,2], inplace=True)
df50_indexLevel.drop([0,1,2], inplace=True)
#change column name
df50_closing.columns = ['date', 'closing_price']
df50_indexLevel.columns = ['date', 'index_level']

In [3]:
#combind two dataframes
df50_closing['index_level'] = df50_indexLevel['index_level']

In [4]:
df50_closing['BASIS']=df50_closing['closing_price']-df50_closing['index_level']
df50_closing

            date closing_price index_level  BASIS
3     2022-12-30        2646.4     2635.25  11.15
4     2022-12-29        2630.2     2622.07   8.13
5     2022-12-28        2647.4     2638.31   9.09
6     2022-12-27        2642.6     2632.45  10.15
7     2022-12-26          2614     2607.52   6.48
...          ...           ...         ...    ...
1878  2015-04-22          3308     3299.22   8.78
1879  2015-04-21          3234     3214.36  19.64
1880  2015-04-20        3146.8     3164.46 -17.66
1881  2015-04-17          3254     3235.33  18.67
1882  2015-04-16        3283.8      3183.3  100.5

[1880 rows x 4 columns]

In [5]:
df50_closing['date']=pd.to_datetime(df50_closing['date'])
df50_closing.set_index("date", inplace=True)
q_groups=df50_closing.groupby(pd.Grouper(freq='Q'))
q_closing=q_groups.mean()
q_closing

            closing_price  index_level      BASIS
date
2015-06-30    3192.273077  3179.100385  13.172692
2015-09-30    2380.512500  2433.995469 -53.482969
2015-12-31    2368.150820  2392.077869 -23.927049
2016-03-31    2053.962712  2075.208475 -21.245763
2016-06-30    2107.380328  2120.533607 -13.153279
2016-09-30    2184.103125  2192.884219  -8.781094
2016-12-31    2295.460000  2302.316167  -6.856167
2017-03-31    2345.837288  2351.185085  -5.347797
2017-06-30    2406.353333  2416.489000 -10.135667
2017-09-30    2645.723077  2645.066000   0.657077
2017-12-31    2838.556667  2835.765000   2.791667
2018-03-31    2953.728814  2955.011017  -1.282203
2018-06-30    2657.763333  2667.691167  -9.927833
2018-09-30    2462.912500  2466.170781  -3.258281
2018-12-31    2432.716667  2429.561667   3.155000
2019-03-31    2584.500000  2580.715862   3.784138
2019-06-30    2837.820000  2845.637500  -7.817500
2019-09-30    2892.258462  2898.212923  -5.954462
2019-12-31    2974.704918  2974.817705  -0.112787
2020-03-31    2880.537931  2886.853966  -6.316034
2020-06-30    2813.152542  2836.377119 -23.224576
2020-09-30    3271.700000  3279.619697  -7.919697
2020-12-31    3426.153333  3426.592667  -0.439333
2021-03-31    3728.855172  3735.501552  -6.646379
2021-06-30    3513.956667  3523.272500  -9.315833
2021-09-30    3230.028125  3237.113906  -7.085781
2021-12-31    3256.973770  3251.386885   5.586885
2022-03-31    3064.472414  3064.805517  -0.333103
2022-06-30    2830.196610  2838.943559  -8.746949
2022-09-30    2778.400000  2781.058615  -2.658615
2022-12-31    2553.486667  2550.990000   2.496667

In [6]:
#add index week1 week2 week3...
q_closing['q'] = range(1, len(q_closing) + 1)
q_closing

            closing_price  index_level      BASIS   q
date
2015-06-30    3192.273077  3179.100385  13.172692   1
2015-09-30    2380.512500  2433.995469 -53.482969   2
2015-12-31    2368.150820  2392.077869 -23.927049   3
2016-03-31    2053.962712  2075.208475 -21.245763   4
2016-06-30    2107.380328  2120.533607 -13.153279   5
2016-09-30    2184.103125  2192.884219  -8.781094   6
2016-12-31    2295.460000  2302.316167  -6.856167   7
2017-03-31    2345.837288  2351.185085  -5.347797   8
2017-06-30    2406.353333  2416.489000 -10.135667   9
2017-09-30    2645.723077  2645.066000   0.657077  10
2017-12-31    2838.556667  2835.765000   2.791667  11
2018-03-31    2953.728814  2955.011017  -1.282203  12
2018-06-30    2657.763333  2667.691167  -9.927833  13
2018-09-30    2462.912500  2466.170781  -3.258281  14
2018-12-31    2432.716667  2429.561667   3.155000  15
2019-03-31    2584.500000  2580.715862   3.784138  16
2019-06-30    2837.820000  2845.637500  -7.817500  17
2019-09-30    2892.258462  2898.212923  -5.954462  18
2019-12-31    2974.704918  2974.817705  -0.112787  19
2020-03-31    2880.537931  2886.853966  -6.316034  20
2020-06-30    2813.152542  2836.377119 -23.224576  21
2020-09-30    3271.700000  3279.619697  -7.919697  22
2020-12-31    3426.153333  3426.592667  -0.439333  23
2021-03-31    3728.855172  3735.501552  -6.646379  24
2021-06-30    3513.956667  3523.272500  -9.315833  25
2021-09-30    3230.028125  3237.113906  -7.085781  26
2021-12-31    3256.973770  3251.386885   5.586885  27
2022-03-31    3064.472414  3064.805517  -0.333103  28
2022-06-30    2830.196610  2838.943559  -8.746949  29
2022-09-30    2778.400000  2781.058615  -2.658615  30
2022-12-31    2553.486667  2550.990000   2.496667  31

In [7]:
q_closing.set_index("q", inplace=True)
q_closing

    closing_price  index_level      BASIS
q
1     3192.273077  3179.100385  13.172692
2     2380.512500  2433.995469 -53.482969
3     2368.150820  2392.077869 -23.927049
4     2053.962712  2075.208475 -21.245763
5     2107.380328  2120.533607 -13.153279
6     2184.103125  2192.884219  -8.781094
7     2295.460000  2302.316167  -6.856167
8     2345.837288  2351.185085  -5.347797
9     2406.353333  2416.489000 -10.135667
10    2645.723077  2645.066000   0.657077
11    2838.556667  2835.765000   2.791667
12    2953.728814  2955.011017  -1.282203
13    2657.763333  2667.691167  -9.927833
14    2462.912500  2466.170781  -3.258281
15    2432.716667  2429.561667   3.155000
16    2584.500000  2580.715862   3.784138
17    2837.820000  2845.637500  -7.817500
18    2892.258462  2898.212923  -5.954462
19    2974.704918  2974.817705  -0.112787
20    2880.537931  2886.853966  -6.316034
21    2813.152542  2836.377119 -23.224576
22    3271.700000  3279.619697  -7.919697
23    3426.153333  3426.592667  -0.439333
24    3728.855172  3735.501552  -6.646379
25    3513.956667  3523.272500  -9.315833
26    3230.028125  3237.113906  -7.085781
27    3256.973770  3251.386885   5.586885
28    3064.472414  3064.805517  -0.333103
29    2830.196610  2838.943559  -8.746949
30    2778.400000  2781.058615  -2.658615
31    2553.486667  2550.990000   2.496667

In [8]:
del q_closing['closing_price']
del q_closing['index_level']
q_closing

        BASIS
q
1   13.172692
2  -53.482969
3  -23.927049
4  -21.245763
5  -13.153279
6   -8.781094
7   -6.856167
8   -5.347797
9  -10.135667
10   0.657077
11   2.791667
12  -1.282203
13  -9.927833
14  -3.258281
15   3.155000
16   3.784138
17  -7.817500
18  -5.954462
19  -0.112787
20  -6.316034
21 -23.224576
22  -7.919697
23  -0.439333
24  -6.646379
25  -9.315833
26  -7.085781
27   5.586885
28  -0.333103
29  -8.746949
30  -2.658615
31   2.496667

In [11]:
#to csv
q_closing.to_csv(r'50_BASIS_quarterly.csv')